body {
  font-family: "Roboto Mono", monospace;
}
* {
  transition: all 0.2s ease;
}

.priority-red {
  width: 7rem;
  background-color: rgba(239, 68, 68, 0.781);
}

.priority-orange {
  width: 7rem;
  background-color: #ff88009d;
}

.priority-yellow {
  width: 7rem;
  background-color: #ffee009d;
}

.priority-green {
  width: 7rem;
  background-color: #44ff0065;
}
select option {
  background: rgba(0, 0, 0, 0.3);
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[name="urgent"] {
  background: rgba(239, 68, 68, 0.781);
}

select option[name="moderate"] {
  background: #ff88009d;
}

select option[name="lazy"] {
  background: #44ff0065;
}
